<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 mb-4 mb-xl-0">
        <nav>
          <ul class="footer-menu d-sm-flex">
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Shop</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">About Us</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Careers</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">FAQ</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Blog</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 d-inline-flex align-items-center">
        <span class="footer-text">Follow Us</span>
        <span class="footer-social d-inline-flex align-items-center">
                            <a href="#" class="social-link"><img [src]="goods2Url" alt="f"></a>
                            <a href="#" class="social-link"><img [src]="goods6Url" alt="t"></a>
                            <a href="#" class="social-link"><img [src]="goods3Url" alt="i"></a>
                        </span>
      </div>
      <div class="col-xl-2 col-lg-3 d-flex justify-content-lg-end mt-4 mt-lg-0">
        <span class="footer-text">© 2019 Universal UI Kit</span>
      </div>
    </div>
    <!-- /.row -->
    <hr color="white" class="footer-line mb-4" size="1">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-sm-9">
        <img [src]="goods7Url" alt="" class="payment-logo">
        <img [src]="goods4Url" class="payment-logo" alt="">
        <img [src]="goods5Url"  class="payment-logo" alt="">
        <img [src]="goods1Url" class="payment-logo" alt="">
      </div>
      <div class="col-lg-2 col-sm-9 d-flex justify-content-end">
        <a href="#" class="top-link d-flex align-items-center">
          <span class="top-link-text">Top</span>
          <img [src]="goods8Url" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>
