<div class="slider swiper-container">
  <div class="swiper-wrapper">
    <section class="slide slide-1 swiper-slide">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-10 offset-lg-1">
            <span class="label">Bestseller</span>
            <h2 class="slide-title">Sweater Choker Neck</h2>
            <p class="slide-description">Women’s pearl basic knit sweater with a round neck. Available in several colours. Free shipping to stores.</p>
            <button class="button">
              <span class="button-price">$319</span>
              <span class="button-text">Shop now</span>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="slide slide-2 swiper-slide">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-10 offset-lg-1">
            <span class="label">New</span>
            <h2 class="slide-title">Sweater Choker Neck</h2>
            <p class="slide-description">Women’s pearl basic knit sweater with a round neck. Available in several colours. Free shipping to stores.</p>
            <button class="button">
              <span class="button-price">$319</span>
              <span class="button-text">Shop now</span>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="slide slide-3 swiper-slide">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-10 offset-lg-1">
            <span class="label">Final</span>
            <h2 class="slide-title">Sweater Choker Neck</h2>
            <p class="slide-description">Women’s pearl basic knit sweater with a round neck. Available in several colours. Free shipping to stores.</p>
            <button class="button">
              <span class="button-price">$319</span>
              <span class="button-text">Shop now</span>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>


</div>
<script type="module">
  import Swiper from 'https://unpkg.com/swiper/swiper-bundle.esm.browser.min.js'

  const swiper = new Swiper('.swiper-container', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.slider-button-next',
      prevEl: '.slider-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });
</script>


