<div class="container pt-5 pb-4">
  <div class="row mb-4">
    <div class="col-xl-6">
      <!--first-->
      <div class="card card-1 mb-4">
        <h3 class="card-title">Fashion Month Ready in Capital Shop</h3>
        <p class="card-text">Bags & Acsessories & Lingerie & Sportswear &
          Beauty & Swimwear</p>
        <button class="button button3">
          <span class="button-text">View all</span>
          <img [src]="ArrowUrl" alt="" class="button-icon">
        </button>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <!--second-->
      <div class="card card-2">
        <h3 class="card-title text-light">Catch the Sun: Spring Break Styles From $5.99</h3>
        <p class="card-text text-light">Sweaters & Hoodies & Puffer Jackets & Coats and Jackets & Knit</p>
        <button class="button button3">
          <span class="button-text">View all</span>
          <img [src]="ArrowUrl" alt="" class="button-icon">
        </button>
      </div>
    </div>
    <div class="col-xl-9 col-lg-6 mb-4">
      <div class="card card-3">
        <span class="label label2">Bestseller</span>
        <h3 class="card-title large">Poplin Top <br>
          With Sleeve Bow</h3>
        <p class="card-text large">Poplin top with roll neckline, long sleeves</p>
        <button class="button button2">
          <span class="button-price">$129</span>
          <span class="button-text">Shop now</span>
        </button>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-4">
        <h3 class="card-title text-light">Printed Shirt <br> with a Bow</h3>
        <p class="card-text text-light">Pink/Sky Blue/Yellow</p>
        <span class="card-price">$129</span>
      </div>
    </div>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-9 ml-5">
    <h2 class="section-title">New Arrival</h2>
  </div>
  <!-- /.col-9 -->
  <div class="col-2 d-flex justify-content-end">
    <a href="#" class="more">View all</a>
  </div>
  <!-- /.col-3 -->
</div>
<!-- /.row -->
<div class="row justify-content-center">
  <div class="col-lg-2 col-sm-6">
    <div class="goods-card"><span class="label">New</span>
      <!-- /.label --><img [src]="goods1Url" alt="img: goods" class="goods-image">
      <!-- /.goods-image -->
      <h3 class="goods-title">Embroidered Hoodie</h3>
      <!-- /.goods-title -->
      <p class="goods-description">Yellow/Lilac/Fuchsia/Orange</p>
      <!-- /.goods-description -->
      <span class="goods-price">$89</span>
      <!-- /.goods-price --></div>
    <!-- /.goods-card -->
  </div>
  <!-- /.col-3 -->
  <div class="col-lg-2 col-sm-6">
    <div class="goods-card"><span class="label">New</span>
      <!-- /.label --><img [src]="goods2Url" alt="img: goods" class="goods-image">
      <!-- /.goods-image -->
      <h3 class="goods-title">Faded Beach Trousers</h3>
      <!-- /.goods-title -->
      <p class="goods-description">Navy/Ochre/Black/Khaki<</p>
      <!-- /.goods-description -->
      <span class="goods-price">$139</span>
      <!-- /.goods-price --></div>
    <!-- /.goods-card -->
  </div>
  <!-- /.col-3 -->
  <div class="col-lg-2 col-sm-6">
    <div class="goods-card"><span class="label">New</span>
      <!-- /.label --><img [src]="goods3Url" alt="img: goods" class="goods-image">
      <!-- /.goods-image -->
      <h3 class="goods-title">Text T-Shirt</h3>
      <!-- /.goods-title -->
      <p class="goods-description">White</p>
      <!-- /.goods-description -->
      <span class="goods-price">$59</span>
      <!-- /.goods-price --></div>
    <!-- /.goods-card -->
  </div>
  <!-- /.col-3 -->
  <div class="col-lg-2 col-sm-6">
    <div class="goods-card"><span class="label">New</span>
      <!-- /.label --><img [src]="goods4Url" alt="img: goods" class="goods-image">
      <!-- /.goods-image -->
      <h3 class="goods-title">Striped Long Sleeve Shirt</h3>
      <!-- /.goods-title -->
      <p class="goods-description">Red/Sky Blue</p>
      <!-- /.goods-description -->
      <span class="goods-price">$119</span>
      <!-- /.goods-price --></div>
    <!-- /.goods-card -->
  </div>
  <!-- /.col-3 -->
</div>
<!-- /.row -->
